@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Trường THPT Hoàng Văn Thụ<br />
        123A Hoàng Văn Thụ, Nha Trang, Khánh Hòa.<br />
        <abbr title="Phone">Số điện thoại</abbr>
        0901.923.842
    </address>

    <address>
        <strong>Support:</strong>   <a href="#">nvs151224@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="#">nvs151224@gmail.com</a>
    </address>
</main>
