@model sang.Models.Khoi

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa chứ?</h3>
<div>
    <h4>Khoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhoi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
